*.pyc
*.db
*.zip
*.bmp
*.bak
temp/*
*.old.json
*.sqlite3
*/build/*
*/dist/*
*.orig
.idea/*
*.pyd
*.pak
build/*
settings_local.py
*.egg
env/
*.log
*.log.*
*.pid
.hgrc
local.*.conf
farmenu.ini
nginx/
*.whl
*.rej
tmp
.backup
*.egg-info
src/
